@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dictionary<Barberries.Models.Product, DateTime>

@functions{
	double GetSummaryCost() {
		double summaryCost = 0.0;
		foreach(Product product in Model.Keys) {
			summaryCost += product.Cost;
		}
		return summaryCost;
	}
}

<html>
	<head>
		<meta charset="utf-8" />
		<title>Список покупок</title>
	</head>
	<body>
		<h2>Общая сумма покупок: @GetSummaryCost()</h2>
		<table>
			<thead>
				<tr>
					<th>Продукт:</th>
					<th>Дата покупки:</th>
				</tr>
			</thead>
			<tbody>
				@foreach(KeyValuePair<Barberries.Models.Product, DateTime> pair in Model) {
					<tr>
						<td>
							<img src="@pair.Key.Picture"
							title="@pair.Key.Name" width="400" height="341"
							alt="Изобраджение не может быть загружено">
						</td>
						<td>
							@pair.Value.ToShortDateString()
						</td>
					</tr>
				}
		</tbody>
		</table>
		<p>
			<a asp-controller="Account" asp-action="HomePage">Назад</a>
		</p>
	</body>
</html>